body {
    margin: 30px 60px 30px 60px;
    background-color: #f7f7f7;
}

h3{
    font-size: 18pt;
}

h4{
    font-size: 12pt;
}

.nopadding {
    padding: 0;
}

.form-group{
    width: 100%;
}

#main-form{
    margin: 40px 0 40px 0;
}

.main-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-btn{
    margin-left: 10px;
}

#logo img{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-label{
    margin-right: 10px;
}
