<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <title>Get Address</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          modelType="text/css"/>
    <link rel="stylesheet" href="./static/style.css">
    <script modelType="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script modelType="application/javascript" async
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<div id="logo">
    <img src="./static/img/logo.jpeg" alt="logo">
</div>
<form id="main-form" action="./find" method="get">
    <div class="form-group">
        <div class="col main-flex">
            <label id="main-label" for="postcode">
                <h3>Postcode</h3>
            </label>
            <input type="text" class="form-control" name="postcode" id="postcode" placeholder="Type here">
            <div id="main-btn">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

<div th:unless="${addressDTO.isEmpty()}">
    <h4>Addresses List</h4>
    <table class="table table-striped">
        <tr>
            <th>Post Code</th>
            <th>Council</th>
            <th>District</th>
            <th>Region</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Distance from Heathrow</th>
        </tr>
        <tr th:each="address : ${addressDTO}">
            <td th:text="${address.result.postcode}"></td>
            <td th:text="${address.result.primary_care_trust}"></td>
            <td th:text="${address.result.admin_ward}"></td>
            <td th:text="${address.result.region}"></td>
            <td th:text="${address.result.country}"></td>
            <td th:text="${address.result.latitude}"></td>
            <td th:text="${address.result.longitude}"></td>
            <td th:text="${address.result.distance}"></td>
        </tr>
    </table>

</div>


</body>
</html>
